<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
a:hover{
  color: #0896dd;
}
</style>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">
  <!-- Footer -->
  <footer class="footer text-center text-white" style="background-color: #244d61">
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            
          </div>
        </div>
      </section>
      <section class="text-center mb-5">
        <span class= "lead">
               Connect with me on 
            </span>
        <a href="https://twitter.com/Ezekiel11011" target="_blank" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/ezekiel-okebule-87b19523a" target="_blank" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/carnage999-max" target="_blank" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
    <div class="text-center p-3">
      © 2022 Copyright
      <a class="text-white" style="text-decoration: none; color:#333;" href=""
         >Ezekiel Okebule</a
        >
    </div>
  </footer>
</div>
